.nav {
  grid-area: nav;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--secondary-main);
}

.links {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
